
@{
    ViewBag.Title = "Inicio";
}

@section Navegation{

}

<div class="jumbotron">
    <h1 class="display-4">
        <img src="~/Vendor/imgs/agenda.png" width="100" class="img-fluid" />
        Agenda
    </h1>
    <p class="lead">Esta es una demostración de agendas desarrollado con base de datos, back-end (Web Api) y front-end (MVC) de forma separada.</p>
    <hr class="my-4">
</div>

